/* --------- */
/* style.CSS */
/* --------- */

/* The font I use for my header */
@font-face {
    font-family: ace;
    src: url('fonts/ace-records/AceRecords.ttf');
}

/* The font I use for my text around the sites */
@font-face {
    font-family: dragon;
    src: url('fonts/dragon-fire/DragonFire.ttf');
}

/* My roots I use thoughout the CSS document */
/* I made it, because I use them more than once. This makes it easier to find and change if needed  */
:root{
    --box-background-color: #00BEC5;
    --border-color: 5px solid #88FBFF;
    --border-radius: 25px;
    --border-shadow: 15px 15px 3px rgba(0,0,0,0.3);
    --border-inner-shadow: inset 15px 15px 3px rgba(0,0,0,0.3);
    --header-shadow: 10px 10px rgba(0,0,0,0.3);
    --text-shadow: 5px 5px rgba(0,0,0,0.3);
    --text-border: 3px solid #88FBFF;
    --font-size-title: 5.5em;
    --font-size-subject: 3em;
    --font-size-links: 2em;
    --font-size-back-btn: 2.5rem;
    --font-size-text: 1em;
    --text-underline: underline;
}

/* The body of my sites. Here I implement my background */
body{
    background-image: url("images/more/background.jpg");
    background-attachment: fixed;
    background-position: 0 20%;
}

/* My grid containers general information */
.grid-container{
    text-align: center;
    margin: 50px;
    display: grid;
}


/* The grids throughout the code, has used this video as a form of start, since I could not get it to work my self. YouTube link can be found below */
/* https://www.youtube.com/watch?v=HgwCeNVPlo0&t=1015s&ab_channel=DaniKrossing */
/* The grid container I use for my index.site */
.grid-container-main{
    grid-template-columns: 200px 450px 450px;
    grid-template-rows:  200px 200px 400px 600px;
    grid-template-areas: 
    "logo name name"
    "about web design"
    "contact web design"
    ". game spacetravel";
}

/* The grid container I use for my about.html */
.grid-container-about{
    grid-template-columns: 200px 450px 450px;
    grid-template-rows:  200px 125px 500px;
    grid-template-areas: 
    "logo name name"
    "back subject subject"
    ". subject subject";
}

/* The grid container I use for my other sites, where I show my different forms of work experience */
.grid-container-designs{
    grid-template-columns: 200px 450px 450px;
    grid-template-rows:  200px 125px 1100px;
    grid-template-areas: 
    "logo name name"
    "back subject subject"
    ". subject subject";
}

/* The grid definition for my logo */
.logo{
    grid-area: logo;
    width: 130px;
}

/* The grid definition of my title/header */
.name{
    grid-area: name;
}

/* The styling of my title/header */
.name h1{
    color: #fff;
    margin: auto;
    padding-top: 15px;
    font-family: ace;
    font-size: 5.5em;
    text-shadow: var(--header-shadow);
    text-decoration-line: var(--text-underline);

    /* ----------- https://css-tricks.com/adding-stroke-to-web-text/ ----------- */
    /* Here I have made an outline around the actual text. ^^^ Source link above */
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #88FBFF;
}

/* The grid definition of my "more about me" button */
.about{
    grid-area: about;
    padding-top: 25px;
}

/* The grid definition and styling of my back button (Usable on the sub-sites ) */
.back{
    grid-area: back;
    padding-top: 25px;
    padding: 5px;
    font-size: var(--font-size-back-btn);
}

/* Styling of the "more about me" button and "back" button */
.about,.back{
    text-decoration: none;
    color: #000;
    font-size: var(--font-size-links);
    font-family: dragon;
}

/* The grid definition of the contact box */
.contact{
    grid-area: contact;
}

/* Font styling of the paragraph inside of the contact box */
.contact p{
    font-family: dragon;
}

/* The styling for the title of the contact box */
.contact-title{
    font-size: 2em;
    text-decoration-line: underline;
    margin-bottom: 0;
}

/* Defining the font size of the e-mail and number of the contact box */
.contact-filler{
    margin: 0;
    font-size: 1.15em;
}

/* The grid definition of the subject box (web)  */
.web{
    grid-area: web;
}

/* The grid definition of the subject box (design) */
.design{
    grid-area: design;
}

/* The grid definition of the subject box (game) */
.game{
    grid-area: game;
}

.spacetravel{
    grid-area: spacetravel;
}

/* The grid definition of the subject box (Box inside of sub-sites) */
.subject{
    grid-area: subject;
    padding: 50px;
}

/* Sizing the picture inside of the boxes with the different subjects */
.subject-img{
    margin: 50px;
    width: 12rem;
    height: 12rem;
}

/* The first picture located inside the sub-pages */
.subject-img-inner{
    float: left;
    margin: 0;
    margin-bottom: 90px;
    width: 15rem;
    height: 15rem;
}

/* The second picture located inside the sub-pages  */
.subject-img-middle{
    margin-bottom: 20px;
}

/* The bottom pictures located inside the sub-pages */
.subject-img-bottom{
    float: left;
    margin: 35px;
    width: 10rem;
    height: 10rem
}

/* The subject title that can be found on the main index.html */
.subject-title{
    margin: 0;
    margin-bottom: 40px;
    font-family: dragon;
    text-shadow: var(--text-shadow);
    font-size: var(--font-size-subject);
    text-decoration-line: var(--text-underline);
}

/* The subject title that can be found on the sub-pages */
.subject-title-inner{
    font-size: var(--font-size-title);
    text-shadow: var(--header-shadow);
    margin: 0;
}

/* The styling for the button you use to access the sub-pages */
.subject-button{
    font-family: dragon;
    font-size: var(--font-size-links);
    text-decoration-line: var(--text-underline);
    text-decoration: none;
    color: #000;
    padding: 15px;
}

/* The text-boxes, where you can read about the different subjects */
.subject-text{
    float: right;
    width: 394px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    border: var(--text-border);
    background-color: #fff;
    box-shadow: var(--border-shadow), var(--border-inner-shadow);
}

/* Box that shapes the height of the information box in about.html */
.about-text{
    height: 275px;
}

/* The removal of some styling, so that I can use a :hover and :active on them */
.about, .back, .subject-button{
    background-color: #74faff;
    box-shadow: inset 0;
}

/* Some styling of the different elements inside the grid container */
.grid-container div,a,img{
    background-color: var(--box-background-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--border-shadow);
    margin: 30px;
}

/* Some styling of the different elements where links are not included */
.grid-container div,img{
    box-shadow: var(--border-shadow), var(--border-inner-shadow);
}

/* Some styling of the different elements inside the grid container (Inside the different subjects sub-pages) */
.grid-container-subject div,a,img{
    background-color: var(--box-background-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--border-shadow);
    margin: 30px;
}

/* Some styling of the different elements where links are not included (Inside the different subjects sub-pages) */
.grid-container-subject div,img{
    box-shadow: var(--border-shadow), var(--border-inner-shadow);
}

/* Here I apply the hover state onto all of my buttons, both the ones on the main site, plus the sub-pages */
.about:hover, .back:hover, .subject-button:hover{
    background-color: #bdfdff;
}

/* Here I apply the active state (When you click it, it changes) onto all of my buttons, both the ones on the main site, plus the sub-pages */
.about:active, .back:active, .subject-button:active{
    text-shadow: var(--text-shadow);
    box-shadow: var(--border-shadow), var(--border-inner-shadow);
}

/* Here I start coding my portfolio, so that it also works on a mobile */
@media screen and (max-width: 1200px) {
    /* Here I change the margin of my grid container, so that it fits the mobile format better */
    .grid-container{
        margin: 20px;
    }

    /* The redefining of the grid, so that it works on mobile */
    .grid-container-main{
        grid-template-columns: 100%;
        grid-template-rows:  200px 100px 500px 500px 500px 500px;
        grid-template-areas: 
        "name"
        "about"
        "web"
        "design"
        "game"
        "spacetravel";
    }

    /* The redefining of the grid inside the about.html, so that it is usable on mobile */
    .grid-container-about{
        grid-template-columns: 100%;
        grid-template-rows:  200px 100px 1050px;
        grid-template-areas: 
        "name"
        "back"
        "subject";
    }

    /* The redefining of the grid inside the subjects, so that they are usable on mobile */
    .grid-container-designs{
        grid-template-columns: 100%;
        grid-template-rows:  200px 100px;
        grid-template-areas: 
        "name"
        "back"
        "subject";
    }

    /* To make the logo and contact box to disappear from the sites (Mobile version) */
    .logo, .contact{
        display: none;
    }

    /* The restyling of the header/title on the different pages */
    .name h1{
        font-size: 3.5rem;
        margin: 0;
        text-shadow: 5px 5px rgba(0,0,0,0.3);
    }

    .subject-title{
        text-shadow: 5px 5px rgba(0,0,0,0.15);
    }

    /* A change in the box styling, plus a font-size change. This makes it fit better on mobile */
    .about, .back{
        width: 50%;
        justify-self: center;
        font-size: 1.5em;
    }

    /* The resizing of the text inside the "back" button */
    .back{
        font-size: 2em;
        padding-top: 15px;
    }

    /* A small styling of the subject box inside the sub-pages */
    .subject{
        padding: 0;
    }

    /* A small styling change in the pictures inside the sub-pages */
    .subject-img{
        margin: 25px;
    }

    /* Another styling change in the sub-pages pictures */
    .subject-img-inner{
        float:inherit;
    }

    /* A change on the font size of the title on the sub-pages */
    .subject-title-inner{
        font-size: 3em;
    }

    /* The styling change of the text inside the subjects information boxes */
    .subject-text{
        margin: 20px;
        width:inherit
    }

    /* The styling change of the text inside the "about me" information boxes */
    .about-text{
        height: 525px;
    }

    /* The styling change of the text inside the "web - coding" information boxes */
    .web-text{
        height: 375px;
    }

    /* The styling change of the text inside the "designs" information boxes */
    .design-text{
        height: 710px;
    }

    /* The styling change of the text inside the "game making" information boxes */
    .game-text{
        height: 475px;
    }

    /* The styling change of the text inside the "space travel (IST)" information boxes */
    .spacetravel-text{
        height: 650px;
    }

    /* A removal of the float that is used in the desktop version of the sub-pages */
    .grid-container-designs .subject-text{
        float: none;
    }

    /* A sizing change in the pictures located on the different sub-pages */
    .grid-container-designs .subject-img,.subject-img-bottom{
        float: inherit;
        margin: 0;
        margin: 20px;
        width: 15rem;
        height: 15rem;
    }

    /* A margin change on the grid container */
    .grid-container div,a,img{
        margin: 10px;
    }
}